{"boot_service",master_sthlm_1@asus}.
{"dns_service",master_sthlm_1@asus}.
{"log_service",master_sthlm_1@asus}.
{"orchistrate_service",master_sthlm_1@asus}.
{"boot_service",master_sthlm_2@asus}.
{"dns_service",master_sthlm_2@asus}.
{"log_service",master_sthlm_2@asus}.
{"orchistrate_service",master_sthlm_2@asus}.
{"boot_service",worker_sthlm_1@asus}.
{"dns_service",worker_sthlm_1@asus}.
{"log_service",worker_sthlm_1@asus}.
{"adder_service",'worker_sthlm_1@asus'}.
{"multi_service",'worker_sthlm_1@asus'}.
{"boot_service",worker_sthlm_2@asus}.
{"dns_service",worker_sthlm_2@asus}.
{"log_service",worker_sthlm_2@asus}.
{"divi_service",'worker_sthlm_2@asus'}.
{"boot_service",worker_sthlm_3@asus}.
{"dns_service",worker_sthlm_3@asus}.
{"log_service",worker_sthlm_3@asus}.
{"adder_service",'worker_sthlm_3@asus'}.
{"oam_service",'worker_sthlm_3@asus'}.








